html, body {
    width: 100%;
    height: 100%;
}

@media  (min-width: 120px) and (max-width:699px) {  /*IPHONE 6*/

.cabecalho{
    background-color:#ffffff;
    height: 15% ;
    border-bottom: 4px black solid; 
    margin-bottom: 5%;
}
.logo{
    width:30%;
    padding-top: 1%;
    margin: 2%;
    
    
}


header h1{
    margin-top: -100px;
    text-align: center;
    margin-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.principal{
    border-radius:9px;
    margin: 1%;
   
}

.fotoprincipal{
    margin: 1%;
    width: 98%;
    height: 20%;
    
}


.fotoprincipal img{
    width: 100%;
    height: 50%;
    float: center;
    margin: 1%;
    border-radius: 5px;  
    
}

.texto{

    margin: 1%;
    width: 98%;
    height: 40%;
    display: block;
    border: rgb(77, 62, 62) 1px solid;
    border-radius: 5px;
    margin-top: -310px;
 }

 .texto p {

     text-align: justify;
     margin: 3px;
 }
 
 h5, h3{
     text-align: center;
 }

.contato{    
   display: block;     
   float: center;
   margin: 1%;
   width: 98%;
   height: 25%;
   padding: 2px;
   background-color: seagreen;
   border-radius:10px;
}
.campo{
   
   padding: 5px;
   
}

.botao{
    position: relative;
    border-radius:5px;
    margin-left: 20%;
    background-color: rgb(86, 241, 106)
    
 }

.rodape{
   
    display: block;     
    margin: 1%;
    height: 15% ;
    position: relative;
    clear: both;
    background-color: rgb(97, 94, 83);
    border-radius:9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    padding-top: 10px;
 }

}


@media  (min-width: 700px) and (max-width:2560px) { 
.cabecalho{
    background-color:#ffffff;
    height: 15% ;
    border-bottom: 4px black solid; 
}
.logo{
    width:50%;
    padding-top: 1px;
    margin-left: 2px;
}

header h1{
    margin-top: -100px;
    text-align: center;
    margin-left: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}

.principal{
    border-radius:9px;
    margin: 1%;
   
}

.fotoprincipal{
    
    margin: 1%;
    width: 50%;
    height: 10%;
    display: block;
    margin:auto;
    clear: both;
    margin-bottom: -300px;
}

.fotoprincipal img{
    width: 100%;
    height: 50%;
    float: center;
    margin: 1%;
    border-radius: 5px;

    

}

.texto{
 
    
    margin: auto;
    width: 98%;
    height: 40%;
    display: block;
    border: rgb(77, 62, 62) 1px solid;
    border-radius: 5px;
    
 }

 .texto p {

     text-align: justify;
     margin: 10px;
 }
 
 h5, h3{
     text-align: center;
 }

.contato{    
   display: block;     
   margin: auto;
   width: 280px;
   height: 210px;
   padding: 2px;
   background-color: seagreen;
   border-radius:10px;
   clear: both;

}
.campo{
   
   padding: 5px;
   
}

.botao{
    position: relative;
    border-radius:5px;
    margin-left: 20%;
    background-color: rgb(86, 241, 106)
    
 }

.rodape{
   
    display: block;     
    margin: 1%;
    height: 15% ;
    position: relative;
    clear: both;
    background-color: rgb(97, 94, 83);
    border-radius:9px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    padding-top: 10px;
  }
}